<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package.Mapper}.${table.mapperName}">

    <#if enableCache>
    <cache type="${cacheClassName}"/>

    </#if>
    <#if baseResultMap>
    <resultMap id="BaseResultMap" type="${package.Entity}.${entity}">
<#list table.fields as field>
    <#if field.keyFlag>
        <id column="${field.name}" property="${field.propertyName}" />
    <#else>
        <result column="${field.name}" property="${field.propertyName}" />
    </#if>
</#list>
    </resultMap>

    </#if>
    <#if baseColumnList>
    <sql id="Base_Column_List">
<#list table.commonFields as field>
        ${field.name},
</#list>
        ${table.name}.*
    </sql>

    </#if>
    <#if table.havePK>
    <select id="selectByIdWithDetails" resultMap="BaseResultMap">
        SELECT 
<#list table.fields as field>
            ${field.name}<#if field_has_next>,</#if>
</#list>
        FROM ${table.name}
        WHERE ${table.keyProperty} = #{id}
        <#if table.logicDelete>
            AND ${table.logicDeleteField} = 0
        </#if>
    </select>
    </#if>

    <select id="selectByCondition" resultMap="BaseResultMap">
        SELECT 
<#list table.fields as field>
            ${field.name}<#if field_has_next>,</#if>
</#list>
        FROM ${table.name}
        <where>
<#list table.fields as field>
    <#if !field.keyFlag>
            <if test="params.${field.propertyName} != null and params.${field.propertyName} != ''">
                AND ${field.name} = #{params.${field.propertyName}}
            </if>
    </#if>
</#list>
            <#if table.logicDelete>
            AND ${table.logicDeleteField} = 0
            </#if>
        </where>
        ORDER BY ${table.keyProperty} DESC
    </select>

    <select id="countByCondition" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${table.name}
        <where>
<#list table.fields as field>
    <#if !field.keyFlag>
            <if test="params.${field.propertyName} != null and params.${field.propertyName} != ''">
                AND ${field.name} = #{params.${field.propertyName}}
            </if>
    </#if>
</#list>
            <#if table.logicDelete>
            AND ${table.logicDeleteField} = 0
            </#if>
        </where>
    </select>

</mapper>
